.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* More opaque black for darker overlay */
  z-index: 1000;
}

.modal {
  width: 500px;
  padding: 20px;
  background-color: #2a2a2a; /* Darker modal background */
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Increased opacity for stronger shadow */
}

.modal h2 {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #444; /* Dark border for contrast */
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
  color: #ddd; /* Light text for contrast against dark background */
}

.inputGroup {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px 10px;
  align-items: center;
  margin-top: 20px;
}

.inputGroup label {
  justify-self: end;
  font-size: 1em;
  color: #bbb; /* Lighter than other texts for lesser emphasis */
}

.inputGroup input {
  padding: 10px;
  border: 1px solid #444; /* Dark border for inputs */
  border-radius: 4px;
  width: 100%;
  font-size: 1em;
  background-color: #333; /* Darker input fields */
  color: #fff; /* White text for input */
}

.inputGroup .errorMessage {
  grid-column: 1 / 3; /* Span from the start of the first column to the end of the second column */
  color: #ff5555;
  margin: 10px 0;
  font-size: 0.9em;
  text-align: center;
  width: 100%;
}

.inputGroup button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #444; /* Darker button */
  color: #fff; /* White text for buttons */
}

.inputGroup button:hover {
  background-color: #555; /* Slightly lighter shade for hover effect */
}

.inputGroup .cancelButton {
  background-color: #ff5555; /* A slightly brighter red for the cancel button */
  color: #fff; /* White text */
  margin-left: 10px;
}
